.portal-btn-container {
  max-width: 270px;

  &:hover .divider-container .divider::before {
    width: 100%;
    left: 0;
    right: auto;
  }

  .portal-btn {
    display: flex;
    align-items: center;
    padding-bottom: 14px;
    font-weight: 600;
    text-align: start;
    cursor: pointer;

    p {
      flex: 1;
    }

    .icon-btn {
      position: relative;
      top: 2px;
      transform: rotate(-45deg);

      &:hover {
        .icon-container::before {
          transform: scale(1);
        }

        .icon-container .arrows-container .primary-icon {
          opacity: 0;
          transform: translateX(100%);
        }

        .icon-container .arrows-container .secondary-icon {
          opacity: 1;
          transform: translateX(0);
        }
      }

      .icon-container {
        align-items: center;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        width: 42px;
        min-height: 42px;
        overflow: hidden;
        position: relative;

        &::before {
          background-color: #b3ff50;
          border-radius: 50%;
          content: "";
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          transform: scale(0);
          transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
          width: 100%;
          z-index: 1;
        }

        .arrows-container {
          height: 24px;
          position: relative;
          width: 24px;
          z-index: 2;

          .primary-icon,
          .secondary-icon {
            fill: black;
            font-size: 24px;
            left: 0;
            position: absolute;
            top: 0;
            transition: transform 0.3s ease, opacity 0.3s ease;
          }

          .primary-icon {
            opacity: 1;
            transform: translateX(0);
          }

          .secondary-icon {
            opacity: 0;
            transform: translateX(-500%);
          }
        }
      }
    }
  }

  .divider-container {
    .divider {
      width: 100%;
      height: 1px;
      background-color: #a3a3a3;
      position: relative;

      &::before {
        content: "";
        width: 60px;
        height: 3px;
        background-color: #111827;
        position: absolute;
        top: -1px;
        right: 0;
        transition: width 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
      }
    }
  }

}

.portal-btn-container--full {
  width: 100%;
  max-width: 100%;

  .portal-btn {
    width: 100%;
  }
}